<div class="logo">
  Docker than light
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= link_to 'Please login with Github', '/auth/github' %>
  </div>
  <div class="col-md-4"></div>
</div>
