<div class="container">
  <div class="logo">
    Docker than light
  </div>
<div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="inputImage" placeholder="Image">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="inputName" placeholder="Name">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-default btn-lg">Spawn Ship</button>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
